<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/styles_principal.css">


<title>Account</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>

	<div class="main-content">

		<h1 id="large-header" class="mt-5 ml-5 mb-5">Subscriptions</h1>

		<div class="lp-container">		
		<div th:each="subAct : ${activeSubscriptions}" class="card mr-2 mb-2">
				<div class="card__side">
				<h2 th:text="${subAct.key.displayName}" class="h2 h2--secondary">Subscription</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li th:text="${subAct.key.priceFormatted + ' €'}" >40 €</li>								 
							 <li><small th:text="'Get access until ' + ${subAct.value}">+ 1 year's access</small></li>	
							 <li><a class="mt-1 ml-auto btn btn--primary-outline" th:href="@{/checkout?id=__${subAct.key.name}__}">Extend</a></li>				 			 
						 </ul>						 
					 </div>
				</div>
			</div>	
			
			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">All 8 levels</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>480 lessons</li>							 
							 <li>Save yourself 800+ hrs of preparation time</li>	
							 <li>280 €</li>	
							 <li>1 year's access</li>	
							 <li><small>Get all subscriptions and extend active subscriptions by 1 year</small></li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=all">Buy</a></li>
							 			 
						 </ul>						 
					 </div>
				</div>
			</div>
			
			<div th:each="subNon : ${nonActiveSubscriptions}" class="card mr-2 mb-2">
				<div class="card__side">
				<h2 th:text="${subNon.displayName}" class="h2">Subscription</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li th:text="${subNon.priceFormatted + ' €'}" >40 €</li>
							 <li>1 year's access</li>		
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" th:href="@{/checkout?id=__${subNon.name}__}">Buy</a></li>				 			 
						 </ul>						 
					 </div>
				</div>
			</div>
							
		</div>
		
		
	

	</div>
</body>

</html>