<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/styles_principal.css">

<title>Admin page</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>
	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">

			<h1 id="large-header" class="mt-5 ml-5 mb-5">Admin page</h1>



		</div>
	</div>
</body>
</html>



