<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/styles_principal.css">

<title>Lesson Plans</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>

	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">
			<h1 id="large-header" th:if="${lessonPlans.size() > 0}">Basket</h1>

			<div th:if="${order.size() < 0}">
				<p class="mt-5 ml-5 mb-5 message-large">Your basket is empty</p>
				<a class="btn btn-big btn-secondary-action ml-5"
					href="lessonplans.html" th:href="@{/lessonplans}">View
					lesson plans</a>
			
			</div>

			<div class="lp-container mt-3" th:each="o : ${order}">
				<div class="mr-7 mb-1">
					<h2 th:text="${o.lessonPlan.title}">Example H2</h2>

					<ul class="display-list">
							<li th:text="${o.lessonPlan.id}">Example id</li>
							<li th:text="${o.lessonPlan.level}">Example level</li>
							<li th:text="${o.lessonPlan.type}">Example type</li>			
					</ul>
					
					<a class="btn btn-small btn-tertiary" href="checkout.html" th:href="@{/remove(o.lessonId=${o.lessonPlan.id})}">Remove</a>
					<br> <br>

				</div>
			</div>

			<div th:if="${order.size() > 0}">
				<hr>
				<br>
				<h2 class="mt-1" th:text="%{order.totalPrice}"></h2>
					<a class="mt-1 ml-auto btn btn-med btn-primary" href="checkout.html" th:href="@{../checkout(orderId=${order.id})}">Buy All</a>
			</div>

		</div>
	</div>
</body>
</html>



