<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/styles_principal.css">

<title>Lesson Plans</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>
	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">

			<h1 id="large-header" class="mt-5 ml-5 mb-5">Lesson Plans</h1>

<div th:if="${session.user != null }" class="nav-item-right"><p>User session active</p></div>
<p th:text="${session.usesr}"></p>

		


	<form action="/lessonplans" method="post">

  <input type="checkbox" id="general" name="type" value="general">
  <label for="general">General</label><br><hr>
  
  <input type="checkbox" id="business" name="type" value="business">
  <label for="business">Business</label><br><hr>
  
    <input type="checkbox" id="adjectives" name="grammar" value="adjectives">
  <label for="adjectives"> Adjectives</label><br><hr>
  
     <input type="checkbox" id="adverbs" name="grammar" value="adverbs">
  <label for="adverbs"> Adverbs</label><br><hr>
  
     <input type="checkbox" id="firstconditional" name="grammar" value="firstconditional">
  <label for="firstconditional">First conditional</label><br><hr>
  
     <input type="checkbox" id="secondconditional" name="grammar" value="secondconditional">
  <label for="secondconditional"> Second conditional</label><br><hr>
  
     <input type="checkbox" id="thirdconditional" name="grammar" value="thirdconditional">
  <label for="thirdconditional"> Third conditional</label><br><hr>

  <input type="checkbox" id="technology" name="topics" value="technology">
  <label for="technology"> Technology</label><br><hr>
  
  <input type="checkbox" id="environment" name="topics" value="environment">
  <label for="environment"> Environment</label><hr>
  
  <input type="checkbox" id="travel" name="topics" value="travel">
  <label for="travel"> Travel</label><hr>
  
   <input type="checkbox" id="entrepreneur" name="topics" value="entrepreneur">
  <label for="entrepreneur"> Entrepreneur</label><br><hr>
  
  <input type="checkbox" id="fame" name="topics" value="fame">
  <label for="fame"> Fame</label><br><hr>
  
  <input type="checkbox" id="sport" name="topics" value="sport">
  <label for="sport"> Sport</label><hr>
  
  <input type="checkbox" id="a1" name="subscription" value="a1">
  <label for="a1">A1</label><hr>  
  
    <input type="checkbox" id="a2" name="subscription" value="a2">
  <label for="a2">A2</label><hr>  
  
    <input type="checkbox" id="B1" name="subscription" value="b1">
  <label for="B1">B1</label><hr>  
  
    <input type="checkbox" id="b2" name="subscription" value="b2">
  <label for="b2">B2</label><hr> 
  
    <input type="checkbox" id="b2_plus" name="subscription" value="b2_plus">
  <label for="b2_plus">B2+</label> <hr> 
  
    <input type="checkbox" id="c1" name="subscription" value="c1">
  <label for="c1">C1</label>  <hr>
  
    <input type="checkbox" id="c1_plus" name="subscription" value="c1_plus">
  <label for="c1_plus">C1</label> <hr> 
  
    <input type="checkbox" id="c2" name="subscription" value="c2">
  <label for="c2">C2</label>  <hr>
  
  <input type="checkbox" id="60" name="lessontime" value="60">
  <label for="60">60 minutes</label>  <hr>
  
    <input type="checkbox" id="90" name="lessontime" value="90">
  <label for="90">1 hour 30 minutes</label> <hr> 
  
    <input type="checkbox" id="120" name="lessontime" value="120">
  <label for="120">2 hours</label>  <hr>
  
   <input type="checkbox" id="little" name="speakingamount" value="little">
  <label for="little">Little</label>  <hr>
  
  <input type="checkbox" id="medium" name="speakingamount" value="medium">
  <label for="medium">Medium</label> <hr>
  
  <input type="checkbox" id="lots" name="speakingamount" value="lots">
  <label for="lots">Lots</label> <hr>
  
  <input type="checkbox" id="speakingonly" name="speakingonly" value="speakingonly">
  <label for="speakingonly">Speaking Only</label> <hr>
  
    <input type="checkbox" id="listening" name="listening" value="listening">
  <label for="listening"> Listening</label>  <hr>
  
    <input type="checkbox" id="vocabulary" name="vocabulary" value="vocabulary">
  <label for="vocabulary"> Vocabulary</label>  <hr>
  
    <input type="checkbox" id="reading" name="reading" value="reading">
  <label for="reading"> Reading</label>  <hr>
  
    <input type="checkbox" id="writing" name="writing" value="writing">
  <label for="writing"> Writing</label>  <hr>
  
    <input type="checkbox" id="video" name="video" value="video">
  <label for="video"> Video</label>  <hr>

<input type="checkbox" id="song" name="song" value="song">
  <label for="song"> Song</label>  <hr>

<input type="checkbox" id="funclass" name="funclass" value="funclass">
  <label for="funclass2"> Just for fun</label>  <hr>

<input type="checkbox" id="games" name="games" value="games">
  <label for="games">Games</label>  <hr>

<input type="checkbox" id="jigsaw" name="jigsaw" value="jigsaw">
  <label for="jigsaw"> Jigsaw</label>  <hr>

<input type="checkbox" id="translation" name="translation" value="translation">
  <label for="translation"> Translation</label>  <hr>

<input type="checkbox" id="fiveminutespreparationtime" name="preparationtime" value="5">
  <label for="fiveminutespreparationtime"> 5 minutes preparation time</label>  <hr>
  
  <input type="checkbox" id="tenminutespreparationtime" name="preparationtime" value="10">
  <label for="tenminutespreparationtime"> 10 minutes preparation time</label>  <hr>
  
  <input type="checkbox" id="printedmaterialsneeded" name="printedmaterialsneeded" value="printedmaterialsneeded">
  <label for="printedmaterialsneeded"> Printed materials needed</label>  <hr>
  
   <input type="checkbox" id="businesstips" name="tags" value="businesstips">
  <label for="businesstips"> Business tips</label><br><hr>
  
  <input type="checkbox" id="camping" name="tags" value="camping">
  <label for="camping"> Camping</label><br><hr>
  
  <input type="checkbox" id="celebrities" name="tags" value="celebrities">
  <label for="celebrities">Celebrities</label><br><hr>
  
  <input type="checkbox" id="dangeroussports" name="tags" value="dangeroussports">
  <label for="dangeroussports"> Dangerous sports</label><br><hr>
  
  <input type="checkbox" id="driverless" name="tags" value="driverless">
  <label for="driverless"> Driverless</label><br><hr>
  
  <input type="checkbox" id="electriccars" name="tags" value="electriccars">
  <label for="electriccars">Electric cars</label><br><hr>
  
  <input type="checkbox" id="extremesports" name="tags" value="extremesports">
  <label for="extremesports">Extreme sports</label><br><hr>
  
  <input type="checkbox" id="olympics" name="tags" value="olympics">
  <label for="olympics">Olympics</label><br><hr>
  
  <input type="checkbox" id="privacy" name="tags" value="privacy">
  <label for="privacy"> Privacy</label><br><hr>
  
   <input type="checkbox" id="protest" name="tags" value="protest">
  <label for="protest"> Protest</label><br><hr>
  
   <input type="checkbox" id="socialmedia" name="tags" value="socialmedia">
  <label for="socialmedia">Social media</label><br><hr>
 
  
  <input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
					
  <input type="submit" value="Submit">
</form>



			<div class="book-container mt-3">

				<div class="mr-7 mb-1" th:each="lp : ${lessonPlans}">
					<!-- <c:forEach var="libro" varStatus="status" items="${libros}"> -->
					<h2 th:text="${lp.title}">Example H2</h2>
					<ul class="display-list">
						<li th:text="${lp.id}">Example id</li>
						<li th:text="${lp.assignedSubscription}">Example subscription</li>
						<li th:text="${lp.type}">Example type</li>
					</ul>
					<a class="btn btn-small btn-secondary" href='#'>Add to basket</a> 
					<a class="btn btn-small btn-primary" th:href="@{/../checkout(id=${lp.assignedSubscription.name})}">Buy</a> <br> <br>
			
						
				</div>
			</div>
		</div>
	</div>
</body>
</html>



