<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/styles_principal.css">

<title>Lesson Plans</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>
	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">

			<h1 id="large-header" class="mt-5 ml-5 mb-5">Lesson Plans</h1>

<div th:if="${session.user != null }" class="nav-item-right"><p>User session active</p></div>
<p th:text="${session.usesr}"></p>

<form action="/lessonplans/checkboxtest" method="post">

  <input type="checkbox" id="vehicle1" name="checkboxName" value="Bike">
  <label for="vehicle1"> I have a bike</label><br>
  
  <input type="checkbox" id="vehicle2" name="checkboxName" value="Car">
  <label for="vehicle2"> I have a car</label><br>
  
  <input type="checkbox" id="vehicle3" name="checkboxName" value="Boat">
  <label for="vehicle3"> I have a boat</label>  
  
  <input type="checkbox" id="vehicle4" name="checkboxName" value="Train">
  <label for="vehicle1"> I have a bike</label><br>
  
  <input type="checkbox" id="vehicle4" name="checkboxName" value="Rickshaw">
  <label for="vehicle2"> I have a car</label><br>
  
  <input type="checkbox" id="vehicle4" name="checkboxName" value="Horse">
  <label for="vehicle3"> I have a boat</label>  
  
  
  <input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
					
  <input type="submit" value="Submit">
</form>



			<div class="book-container mt-3">

				<div class="mr-7 mb-1" th:each="lp : ${lessonPlans}">
					<!-- <c:forEach var="libro" varStatus="status" items="${libros}"> -->
					<h2 th:text="${lp.title}">Example H2</h2>
					<ul class="display-list">
						<li th:text="${lp.id}">Example id</li>
						<li th:text="${lp.subscription}">Example subscription</li>
						<li th:text="${lp.type}">Example type</li>
					</ul>
					<a class="btn btn-small btn-secondary" href='#'>Add to basket</a> 
					<a class="btn btn-small btn-primary" th:href="@{/../checkout(id=${lp.subscription.name})}">Buy</a> <br> <br>
			
						
				</div>
			</div>
		</div>
	</div>
</body>
</html>



