<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/styles_principal.css">

    <script>
    
        function showMenu() {
        	//addChecked();
            document.getElementById('mega-menu').style.display = 'block';
            
        }

        function hideMenu() {
            document.getElementById('mega-menu').style.display = 'none';
        }
 
        function addChecked() {     	
        	let checkboxesToCheck = "[[${checkboxesToCheck}]]";
        	
        	if (checkboxesToCheck){
        		checkboxesToCheck = checkboxesToCheck.slice(1, checkboxesToCheck.length -1 );
            	checkboxesToCheck = checkboxesToCheck.split(',');	
            	checkboxesToCheck.forEach(element => console.log(element));
            	
            	//loop over and add checkbox          	
            		console.log(checkboxesToCheck.length)
            		console.log("hello");
            		checkboxesToCheck.forEach(element => {	
                		element = element.trim();
                		document.getElementById(element).checked = true
                		}
                	);
        	}
        }

    </script>

    <title>Lesson Plans</title>
</head>

<body onload="addChecked()">
    <div th:insert="navbar.html :: nav"></div>

    <div class="main-content">

        <div class="main-content-inner ml-5 mr-5">

            <h1 id="large-header" class="mt-5 ml-5 mb-5">Lesson Plans</h1>

            <div class="sticky">
                <a class="btn btn-small btn-primary" href='javascript:showMenu()'>Show Search</a>
                <a class="btn btn-small btn-primary" href='javascript:hideMenu()'>Hide Search</a>
                <a class="btn btn-small btn-primary" href='javascript:hideMenu()'>Submit</a>
            </div>


            <div id="mega-menu">
            <small>*If you select nothing from a category, all from that category will be included.</small>

                <form action="/lessonplans" method="post" >


                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Type</div>
                        <label for="general">General</label>
                        <input type="radio" id="GENERAL" name="type" value="general">

                        <label for="business">Business</label>
                        <input type="radio" id="BUSINESS" name="type" value="business">
                    
                    
                   		
                        <div class="form-header ml-4	">Preparation time</div>
                        <label for="fiveminutespreparationtime"> 5 minutes</label>
                        <input type="radio" id="FIVE" name="preparationtime" value="5">

                        <label for="tenminutespreparationtime"> 10 minutes </label>
                        <input type="radio" id="TEN" name="preparationtime" value="10">
                    </div>
                
                    
 					<div class="form-header">Topics</div>
                    <div class="form-group form-vertical-blocks">
                        
						<span th:each="t : ${topics}">
                        <label th:text="${t.name}"></label>
                        <input type="checkbox" th:id="${t.name}" name="topics" th:value="${t.name}">
                        </span>
             

                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Level</div>

                        <label for="A1">A1</label>
                        <input type="radio" id="A1" name="subscription"  value="A1">

                        <label for="A2">A2</label>
                        <input type="radio" id="A2" name="subscription" value="A2">

                        <label for="B1">B1</label>
                        <input type="radio" id="B1" name="subscription" value="B1">

                        <label for="B2">B2</label>
                        <input type="radio" id="B2" name="subscription" value="B2">

                        <label for="B2+">B2+</label>
                        <input type="radio" id="B2+" name="subscription" value="B2+">

                        <label for="C1">C1</label>
                        <input type="radio" id="C1" name="subscription" value="C1">

                        <label for="C1+">C1+</label>
                        <input type="radio" id="C1+" name="subscription" value="C1+">

                        <label for="C2">C2</label>
                        <input type="radio" id="C2" name="subscription" value="C2">
                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Grammar</div>
                        
                        <span th:each="g : ${grammar}">
                                             
                        <label th:text="${g.grammarPoint}"></label>
                        <input type="checkbox" th:id="${g.grammarPoint}"  name="grammar" th:value="${g.grammarPoint}">
                        
                        </span>
            		</div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Lesson Duration</div>
                        <label for="60">60 minutes</label>
                        <input type="radio" id="SIXTY" name="lessontime" value="60">


                        <label for="90">1 hour 30 minutes</label>
                        <input type="radio" id="NINETY" name="lessontime" value="90">

                        <label for="120">2 hours</label>
                        <input type="radio" id="ONE_HUNDRED_TWENTY" name="lessontime" value="120">
                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Skill</div>

                        <label for="vocabulary">
                            Vocabulary</label>
                        <input type="checkbox" id="vocabulary" name="vocabulary" value="vocabulary">

                        <label for="listening">
                            Listening</label>
                        <input type="checkbox" id="listening" name="listening" value="listening">

                        <label for="reading"> Reading</label>
                        <input type="checkbox" id="reading" name="reading" value="reading">

                        <label for="writing"> Writing</label>
                        <input type="checkbox" id="writing" name="writing" value="writing">
                        
                                                    <small>[All lessons include speaking]</small>

                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Lesson Content</div>

                        <label for="video"> Video</label>
                        <input type="checkbox" id="video" name="video" value="video">

                        <label for="song"> Song</label>
                        <input type="checkbox" id="song" name="song" value="song">

                        <label for="funClass"> Just for
                            fun</label>
                        <input type="checkbox" id="funClass" name="funclass" value="funclass">

                        <label for="games">Games</label>
                        <input type="checkbox" id="games" name="games" value="games">


                        <label for="jigsaw"> Jigsaw</label>
                        <input type="checkbox" id="jigsaw" name="jigsaw" value="jigsaw">

                        <label for="translation">
                            Translation</label>              

                        <input type="checkbox" id="translation" name="translation" value="translation">

                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Speaking</div>
                        <label for="SPEAKING_ONLY">Speaking
                            Only</label>
                        <input type="checkbox" id="SPEAKING_ONLY" name="speakingamount" value="SPEAKING_ONLY">
                        

                        <div class="form-header ml-4">Resources</div>

                        <label for="noprintedmaterialsneeded">No printed materials needed</label>
                        <input type="checkbox" id="noprintedmaterialsneeded" name="noprintedmaterialsneeded"
                            value="noprintedmaterialsneeded">

                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input
                        type="submit" value="Submit">


                </form>

            </div>


            <div class="book-container mt-3">

                <div class="mr-7 mb-1" th:each="lp : ${lessonPlans}">
                    <!-- <c:forEach var="libro" varStatus="status" items="${libros}"> -->
                    <h2 th:text="${lp.title}">Example H2</h2>
                    <ul class="display-list">
                        <li th:text="${lp.id}">Example id</li>
                        <li th:text="${lp.assignedSubscription}">Example subscription</li>
                        <li th:text="${lp.type}">Example type</li>
                    </ul>
                    <a class="btn btn-small btn-secondary" href='#'>Add to basket</a> <a
                        class="btn btn-small btn-primary"
                        th:href="@{/../checkout(id=${lp.assignedSubscription.name})}">Buy</a>
                    <br> <br>


                </div>
            </div>
        </div>
    </div>
</body>

</html>