   <nav>
   <ul class="nav-links-left">
      <li class="nav-item-logo"><a href="index.jsp">Libros Online</a></li>
    </ul>
   
   
    <ul class="nav-links-right">
      <li class="nav-item-right"><a href="index.jsp">Gestionar libros</a></li>
      <li class="nav-item-right"><a href="libros.jsp">Libros</a></li>
      <li class="nav-item-right"><a href="carrito.jsp">Carrito</a></li>
      <li class="nav-item-right"><a href="mislibros.jsp">Mis Libros </a></li>
    </ul>
  
      
  
      
  </nav>