<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/styles_principal.css">


<title>Upgrade</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>

	<div class="main-content">

		<h1 id="large-header" class="mt-5 ml-5 mb-5">Get lesson plans</h1>

		<div class="lp-container">

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">All 8 levels</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>480 lessons</li>							 
							 <li>Save youself 800+ hrs of preparation time</li>	
							 <li>495 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">A1</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">A2</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">B1</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">B2</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">B2+</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">C1</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">C1+</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">C2</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save youself 180 hrs of preparation time</li>	
							 <li>99 €</li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>





		</div>

	</div>
</body>

</html>