.md-header{
	text-decoration: underline;
	margin-bottom: 3rem;
}

.md-msg{
	margin-bottom: 1rem;

	&--alert{
		color: $color-alert;
	}
	
	&--success{
		color: $color-success;
	}
}

.md-container {
	display: flex;
	flex-wrap: wrap;

	@include respond(med-1) {
		flex-direction: column;
		align-items: flex-start;
	}
}

