*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
	font-family: Merge, Montserrat, sans-serif;
	background-color: #f3f0ff;
	background-color: rgb(249, 244, 244);
	line-height: 1.5rem;
	letter-spacing: 0.25%;
	color: rgb(33, 37, 41);
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
}