h2 {
	//text-decoration: underline;
	//text-decoration: underline rgba($color-secondary-light, 0.7);
	text-align: center;
	//background-color: #551A8B;
	background-color:  rgba($color-primary, 0.8);
	color:white;
	padding: 1rem 0rem;
	border-bottom: 1px solid white;

}

.main-content {
	margin: 0rem 12rem 0rem 12rem;
	background-color: rgb(249, 244, 244);
	background-color: white;
	overflow: hidden;
	min-height: 100vh;	
	padding: 2rem 8rem;
}

#large-header {
	font-size: 8.8rem;
	display: block;
	color: black;
	font-weight: 400;
}

.message {
	&--medium{
		font-size: 4.4rem;
	}

	&--large{
		font-size: 6.6rem;
	}
}

.display-list {
	list-style-type: none;
	width: 25%;
	min-width: 31.6rem;
	margin: .3rem 0rem;
	padding: .7rem;
}

.lp-container {
	display: flex;
	flex-wrap: wrap;
}

#mega-menu {
	display:none;
	overflow: auto; 
}


.styled-link {
	&{
		color: #0073FF;
	}

	&:hover {
		background-color: rgba(255, 140, 0, 0.2);
		color: rgb(33, 37, 41);
	}

	&:visited {
		color: #551A8B;
	}
}

